<ion-view view-title="Kayıt Ol">
  <ion-content class="padding">
    <form>
     <div class="list liste">
       <i class = "icon icon ion-person-add iconskayit"></i>
        <label class="item item-input">
          <i class="icon ion-person placeholder-icon"></i>
          <input type="text" placeholder="Kullanıcı Adı" ng-model="kayit.kul_adi">
        </label>

        <label class="item item-input">
          <i class="icon ion-locked placeholder-icon"></i>
          <input type="password" placeholder="Şifre" ng-model="kayit.kul_sifre">
        </label>

         <label class="item item-input">
           <i class="icon ion-locked placeholder-icon"></i>
          <input type="password" placeholder="Şifre Tekrar" ng-model="kayit.kul_sifret">
        </label>

         <label class="item item-input">
           <i class="icon ion-email placeholder-icon"></i>
          <input type="email" placeholder="Email" ng-model="kayit.kul_email">
        </label>

      
    </div>
    
    <ion-checkbox ng-model="kayit.onay"> Sözleşmeyi Okudum Kabul Ediyorum</ion-checkbox> 
    <button class="button button-full button-calm"  ng-click="doRegister()">Kayıt Olunuz</button>
</form>
  </ion-content>

</ion-view>
