/* Empty. Add your own CSS if you like */
.iconsgiris{
    font-size: 150px;
    margin-left: 95px;
    color: #11c1f3;
}

.iconskayit{
    font-size: 100px;
    margin-left: 95px;
    color: #11c1f3;
}
